body {
    margin-top: 150px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: #000;
}

h1 {
    line-height: 1.5;
    font-weight: 400;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 160px;
    margin-bottom: -16px;
}

p {
    font-size: 28px;
    font-weight: 800;
}

.number {
    display: inline-block;
    line-height: 0;
    border-radius: 50%;
    border: 2px solid;
    font-size: 24px;
    font-weight: 900;
    margin-right: -2px;
    margin-left: 8px;
}

.number span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 4px;
    margin-right: 4px;
}
